In [21]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func

In [22]:
spark = SparkSession.builder.appName("Friends").getOrCreate()
friends_df = (
    spark.read.option("header", "true")
    .option("inferSchema", "true")
    .csv("./ml-32m/fakefriends-header.csv")
)

In [23]:
friends_df.printSchema()

root
 |-- userID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- friends: integer (nullable = true)

In [24]:
friends_df.show(5)

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
+------+--------+---+-------+
only showing top 5 rows

In [ ]:
friends_df.filter(friends_df.age > 21).show(5)

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
+------+--------+---+-------+
only showing top 5 rows

In [32]:
friends_df.select(friends_df.name, (friends_df.age + 10).alias("age_plus_10")).show(5)

+--------+-----------+
|    name|age_plus_10|
+--------+-----------+
|    Will|         43|
|Jean-Luc|         36|
|    Hugh|         65|
|  Deanna|         50|
|   Quark|         78|
+--------+-----------+
only showing top 5 rows

In [37]:
friends_df.groupBy("age").count().orderBy("age").show(5)

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
+---+-----+
only showing top 5 rows

In [43]:
friends_df.groupBy("age") \
    .agg(func.round(func.avg("friends"), 2).alias("avg_friends")) \
    .orderBy("age") \
    .show(5)

+---+-----------+
|age|avg_friends|
+---+-----------+
| 18|     343.38|
| 19|     213.27|
| 20|      165.0|
| 21|     350.88|
| 22|     206.43|
+---+-----------+
only showing top 5 rows

In [55]:
friends_df.groupBy("age") \
  .agg(func.round(func.avg("friends"), 2).alias("avg_friends")) \
  .orderBy("avg_friends", ascending=False) \
  .show(1)

+---+-----------+
|age|avg_friends|
+---+-----------+
| 63|      384.0|
+---+-----------+
only showing top 1 row

In [59]:
friends_df.groupBy("age") \
  .agg(func.round(func.avg("friends"), 2).alias("avg_friends")) \
  .orderBy("avg_friends", ascending=True) \
  .show(1)

+---+-----------+
|age|avg_friends|
+---+-----------+
| 58|     116.55|
+---+-----------+
only showing top 1 row

In [44]:
SQL_QUERY = "SELECT * FROM friends WHERE age > 21"
friends_df.createOrReplaceTempView("friends")
results = spark.sql(SQL_QUERY)
results.show(5)

+------+--------+---+-------+
|userID|    name|age|friends|
+------+--------+---+-------+
|     0|    Will| 33|    385|
|     1|Jean-Luc| 26|      2|
|     2|    Hugh| 55|    221|
|     3|  Deanna| 40|    465|
|     4|   Quark| 68|     21|
+------+--------+---+-------+
only showing top 5 rows

In [45]:
friends_df.sort("age", ascending=False).show(5)
friends_df.orderBy("age", ascending=False).show(5)

+------+-----+---+-------+
|userID| name|age|friends|
+------+-----+---+-------+
|   116|  Ben| 69|     75|
|    62|Keiko| 69|      9|
|    97|Nerys| 69|    361|
|    99|Keiko| 69|    491|
|   205| Morn| 69|    236|
+------+-----+---+-------+
only showing top 5 rows

+------+-----+---+-------+
|userID| name|age|friends|
+------+-----+---+-------+
|   116|  Ben| 69|     75|
|    62|Keiko| 69|      9|
|    97|Nerys| 69|    361|
|    99|Keiko| 69|    491|
|   205| Morn| 69|    236|
+------+-----+---+-------+
only showing top 5 rows

In [46]:
# spark.stop()